<!DOCTYPE html>
<html>
<head>
    <title>footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <footer class="bg-dark text-white pt-5 pb-4" >
         <div class="containertext-center text-md-left">
             <div class="row text-center text-md-left">
                 <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                     <h5 class="text-uppercase mb-4 dont-weight-bold text-warning">1N2E</h5>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Biz Kimiz</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Bayilik için Başvuru</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">1N2E'de Satış Yap</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Kariyer</a>
                     </p>

                 </div>
                 <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                     <h5 class="text-uppercase mb-4 font-weight-bold text-warning">BİLGİLER</h5>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Ödeme Bilgisi</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Banka Bilgileri</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Teslimat&İade </a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">KVKK Aydınlatma M.</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">KVKK Başvuru Formu</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Şartlar & Koşullar</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Gizlilik Politikası</a>
                     </p>
                    
                 </div>
                 <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                     <h5 class="text-uppercase mb-4 font-weight-bold text-warning" >EKSTRALAR</h5>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Kampanyalar</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">İletişim</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Markalar</a>
                     </p>
                     <p>
                         <a href="#" class="text-white" style="text-decoration: none;">Blog</a>
                     </p>
                 </div>
                 <div class="col-md col-lg-3 col-xl-3 mx-auto mt-3">
                     <h5 class="text-uppercase mb-4 font-weight-bold text-warning">İLETİŞİM</h5>
                     <p>
                         <i class="fas fa-home mr-3">


                         </i> Cedidiye Mahallesi, Şehit Mutar Sk No:8/A Merkez/Düzce
                     </p>

                     <p>


                         <i class="fas fa-envelope mr-3"></i> 
                         <a href="#" class="text-white" style="text-decoration: none;">info@webduzce.com</a>



                         
                     </p>
                     <p>
                         <i class="fas fa-phone mr-3">


                         </i>(+90) 532 305 01 76
                     </p>
                     <p>
                         <i class="fas fa-print mr-3">


                         </i> web.duzce
                     </p>
                    
                     
                 </div>

             </div>

             <hr class="mb-4">
             <div class="row align-items-center">
                 <div class="col-md-7 col-lg-8">
                     <p>
                         
                         Tüm Hakları Saklıdır
                             </p>
                     <p>
                         ©️2021 1N2E TEKNOLOJİ :
                         <a href="#" style="text-decoration: none;">
                             <strong class="text-warning">1N2E</strong>


                         </a>
                     </p>


                 </div>
                 <div class="col-md-5 col-lg-4">
                      <div class="text-center text-md-right">

                          <ul class="list-unstyled list-inline">
                              <li class="list-inline-item">
                                  <a href="#" class="btn-floating btn-sm text-white"
                                     style="font-size:23px;">
                                      <i class="fab fa-facebook">

                                      </i>

                                  </a>

                              </li>
                              <li class="list-inline-item">
                                  <a href="#" class="btn-floating btn-sm text-white"
                                     style="font-size:23px;">
                                      <i class="fab fa-instagram">

                                      </i>

                                  </a>

                              </li>

                              <li class="list-inline-item">
                                  <a href="#" class="btn-floating btn-sm text-white"
                                     style="font-size:23px;">
                                      <i class="fab fa-linkedin-in">

                                      </i>

                                  </a>

                              </li>
                              <li class="list-inline-item">
                                  <a href="#" class="btn-floating btn-sm text-white"
                                     style="font-size:23px;">
                                      <i class="fab fa-google-plus">

                                      </i>

                                  </a>

                              </li>

                          </ul>

                      </div>

                 </div>
             </div>
         </div>

    </footer>
</body>
</html>