<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - frontend</title>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/urun.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Quicksand&display=swap" rel="stylesheet">
    <style>
        .menu {
            background-color: white;
        }



        .nav-item, .btn {
            color: black;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            transition: all 0.5s ease;
        }

        .link {
            color: black;
        }

            .link:hover {
                color: black;
            }

        .sepet {
            font-family: 'Bitter', serif;
            font-size: 30px;
        }
    </style>
</head>
@{
    int urunsayisi = 1;

}
<body>
    <partial name="_header" />


    <div>
        @*Sepet *@
        <div class="offcanvas offcanvas-end sepet" style="overflow-y:scroll" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

            <div class="offcanvas-header mt-3">
                <h3 id="offcanvasRightLabel">Sepetim</h3>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>

            </div>
            @if (urunsayisi == 0)
            {


                <div class="offcanvas-body justify-content-center mx-auto ">
                    <img class="rounded mx-auto d-block w-75" src="~/img/Adsız tasarım.png" />

                    <h4 class="title w-100" style="text-align:center">Sepet boş</h4>
                    <p class="text w-100 " style="text-align:center; font-size:16px">
                        Sepetinde henüz ürün yok. Sana uygun ürünleri gör
                    </p>
                    <button type="button" class="btn btn-dark btn-lg w-100 mt-5 mx-auto" style="color:white;">Ürünleri Gör</button>

                </div>
            }
            else
            {
                @for (int i = 0; i < 6; i++)
                {
                    <div class="card ms-6 mb-6 p-2">
                        <div class="d-flex g-0">
                            <div class="col-md-4 col-sm-4">
                                <img class="img-fluid rounded-start" src="~/img/7300987800_2_4_5.jpg" />
                            </div>
                            <div class="col-md-8 col-sm-8 p-2">

                                <div class="card-body">

                                    <span class="card-title">
                                        129,90

                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash ms-5" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </div>

                                <h6 class="card-text">Çift Katlı kazak</h6>

                                <input id="quantity" type="number" value="1" class="form-control quantity-input">


                            </div>



                        </div>



                    </div>
                }
                <div class="d-flex mt-5 w-100 text-center" style="font-size:20px">
                    <span class="d-flex ms-3 mt-3">Toplam:</span> <span class="d-flex ms-2 mt-3 ">565,05&nbsp;TL</span>

                </div>
                <button type="button" class="btn btn-dark btn-lg w-100 mb-4  mx-auto " style="color:white;">Sepeti Onayla</button>

            }
        </div>

        @RenderBody()
    </div>
    <partial name="_footer" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>