<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - frontend</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Quicksand&display=swap" rel="stylesheet">
    <style>
        .menu {
            background-color: white;
        }



        .nav-item, .btn {
            color: black;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            transition: all 0.5s ease;
        }

        .link {
            color: black;
        }

            .link:hover {
                color: black;
            }
        .sepet {
            font-family: 'Bitter', serif;
            font-size: 30px;
        }
    </style>
</head>

<body>
   
    <div class="container">
        <div class="offcanvas offcanvas-end sepet" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

            <div class="offcanvas-header mt-3">
                <h3 id="offcanvasRightLabel">Sepetim</h3>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>

            </div>
            <div class="offcanvas-body justify-content-center mx-auto ">
                <img class="rounded mx-auto d-block w-75" src="~/img/Adsız tasarım.png" />

                <h4 class="title w-100" style="text-align:center">Sepet boş</h4>
                <p class="text w-100" style="text-align:center; font-size:16px">
                    Sepetinde henüz ürün yok. Sana uygun ürünleri gör
                </p>
                
                    <button type="button" class="btn btn-dark btn-lg w-100 ">Ürünleri Gör</button>
               
            </div>
        </div>
        @RenderBody()
    </div>
  <partial name="_footer" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
