<partial name="~/Views/Yardim/YardimUstKisim.cshtml" />

<div class="d-flex align-items-start  mt-5 input">
    <partial name="~/Views/Yardim/YardimSidebar.cshtml" />
    <div class="tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active p-4 me-5  " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class=" mb-5">

                <h3>Bayilik</h3>

            </div>
            <form class="row g-0 ">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               bayilik
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                açıklama
                            </div>
                        </div>
                    </div>
               
          
                    
                   

                </div>
            </form>
        </div>
    </div>
</div>















