<div class="d-flex align-items-start  mt-5 input">
    <partial name="~/Views/Bilgilerim/BilgilerimSidebar.cshtml" />
    <div class="tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active p-4 me-5  " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="card mb-5">
                <div class="card-header">
                    <h3> Gizlilik Politikası </h3>
                </div>
            </div>
            <form class="row g-0 ">
                <div class=" card col-md-12 ">
                    <div class="card-body">

                        <div class="justify-content-center">
                            <p class="card-text ">
                             verilerinizin korunması</h4>

                                ...firma.adı... ile paylaşılan kişisel veriler, ...firma.adı... gözetimi ve kontrolü altındadır. ...firma.adı..., yürürlükteki ilgili mevzuat hükümleri gereğince bilginin gizliliğinin ve bütünlüğünün korunması amacıyla gerekli organizasyonu kurmak ve teknik önlemleri almak ve uyarlamak konusunda veri sorumlusu sıfatıyla sorumluluğu üstlenmiştir. Bu konudaki yükümlülüğümüzün bilincinde olarak veri gizliliğini konu alan uluslararası ve ulusal teknik standartlara uygun surette periyodik aralıklarda sızma testleri yaptırılmakta ve bu kapsamda veri işleme politikalarımızı her zaman güncellediğimizi bilginize sunarız.

                                <h4>7) Kişisel verilerinizin paylaşımı</h4>

                                Müşterilerimize ait kişisel verilerin üçüncü kişiler ile paylaşımı, müşterilerin izni çerçevesinde gerçekleşmekte ve kural olarak müşterimizin onayı olmaksızın kişisel verileri üçüncü kişilere aktarılmamaktadır.

                                Bununla birlikte, yasal yükümlülüklerimiz nedeniyle ve bunlarla sınırlı olmak üzere mahkemeler ve diğer kamu kurumları ile kişisel veriler paylaşılmaktadır. Ayrıca, taahhüt ettiğimiz hizmetleri sağlayabilmek ve verilen hizmetlerin kalite kontrolünü yapabilmek için anlaşmalı üçüncü kişilere kişisel veri aktarımı yapılmaktadır.

                                Üçüncü kişilere veri aktarımı sırasında hak ihlallerini önlemek için gerekli teknik ve hukuki önlemler alınmaktadır. Bununla birlikte, kişisel verileri alan üçüncü kişinin veri koruma politikalarından dolayı ve üçüncü kişinin sorumluluğundaki risk alanında meydana gelen ihlallerden ...firma.adı... sorumlu değildir.

                                Kişisel verileriniz ...firma.adı...’nın hissedarlarıyla, doğrudan/dolaylı yurtiçi/yurtdışı iştiraklerimize, faaliyetlerimizi yürütebilmek için işbirliği yaptığımız program ortağı kurum, kuruluşlarla, verilerin bulut ortamında saklanması hizmeti aldığımız yurtiçi/yurtdışı kişi ve kurumlarla, müşterilerimize ticari elektronik iletilerin gönderilmesi konusunda anlaşmalı olduğumuz yurtiçi/yurtdışındaki kuruluşlarla, Bankalararası Kart Merkeziyle, anlaşmalı olduğumuz bankalarla ve sizlere daha iyi hizmet sunabilmek ve müşteri memnuniyetini sağlayabilmek için çeşitli pazarlama faaliyetleri kapsamında yurtiçi ve yurtdışındaki çeşitli ajans, reklam şirketleri ve anket şirketleriyle ve yurtiçi/yurtdışı diğer üçüncü kişilerle ve ilgili iş ortaklarımızla paylaşılabilmektedir.

                                <h4>
                                    8) Kişisel Verilerin Korunması Kanunu’ndan doğan haklarınız

                                    KVKK uyarınca kişisel verilerinizin;
                                </h4>

                                a) işlenip işlenmediğini öğrenme,

                                b) işlenmişse bilgi talep etme,

                                c) işlenme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme,

                                d) yurt içinde / yurt dışında aktarıldığı 3. kişileri bilme,

                                e) eksik / yanlış işlenmişse düzeltilmesini isteme,

                                f) KVKK’nın 7. maddesinde öngörülen şartlar çerçevesinde silinmesini / yok edilmesini isteme,

                                g) aktarıldığı 3. kişilere yukarıda sayılan (d) ve (e) bentleri uyarınca yapılan işlemlerin bildirilmesini isteme,

                                h) münhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,

                                i) KVKK’ya aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme haklarına sahip olduğunuzu hatırlatmak isteriz.

                                j) Başvuru formu için tıklayınız.

                                <h4>9) Kişisel verilerle ilgili mevzuat değişiklikleri

                                KVKK uyarınca sahip olduğunuz haklar</h4> ...firma.adı...’nın yükümlülükleridir. Kişisel verilerinizi bu bilinçle ve mevzuatın gerektirdiği ölçüde işlediğimizi, yasal değişikliklerin olması halinde sayfamızda yer alan bu bilgileri yeni mevzuata uygun güncelleyeceğimizi, yapılan güncellemeleri de bu sayfa üzerinden her zaman kolaylıkla takip edebileceğinizi size bildirmek isteriz.

                                <h4>10) Verinin güncel ve doğru tutulması ve saklanması</h4>

                                KVKK’nın 4. maddesi uyarınca ...firma.adı...’nın kişisel verilerinizi doğru ve güncel olarak tutma yükümlülüğü bulunmaktadır. Bu kapsamda ...firma.adı...’nın yürürlükteki mevzuattan doğan yükümlülüklerini yerine getirebilmesi için müşterilerimizin ...firma.adı...’la doğru ve güncel verilerini paylaşması gerekmektedir. Verilerinizin herhangi bir surette değişikliğe uğraması halinde aşağıda belirtilen iletişim kanallarından bizimle iletişime geçerek verilerinizi güncellemenizi rica ederiz.

                               <h4> 11) Kişisel verilerinizle ilgili bilgi</h4>

                                Bize kişisel verilerinizle ilgili her türlü soru ve görüşleriniz için info...firma.adı....com e-posta adresinden dilediğiniz zaman ulaşabilirsiniz.

                            </p>
</div>
</div>
</div>
                </form>
            </div>
        </div>
</div>