<div class="d-flex align-items-start  mt-5 input">
    <partial name="~/Views/Bilgilerim/BilgilerimSidebar.cshtml" />
    <div class="tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active p-4 me-5  " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="card mb-5">
                <div class="card-header">
                    <h3>İletişim </h3>
                </div>
            </div>
            <form class="row g-3">
                <div class="col-md-6 ">
                    <div class="card">
                        <div class="card-header">
                            <h5>Adres</h5>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">

                                <div class=" justify-content-between">
                                    <p class="card-text">
                                        Orhangazi Mah orhangazi mah. konuralp 442 sok. no:3/6 academia tower 1
                                        Merkez 81000 / Düzce
                                    </p>

                                    <p class="card-text">
                                        <span>
                                            telefon:759347856

                                        </span>

                                    </p>
                                    <p class="card-text">  <span>fax:48547598</span></p>
                                    <p class="card-text">  <span>Ticaret Sicil No:48547598</span></p>
                                    <p class="card-text">  <span>E-posta:</span></p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Müşteri Hizmetleri</h5>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">

                                <div class=" justify-content-between">
                                    <p class="card-text"> Çağrı Merkezi:83509589  </p>
                                    <p class="card-text "> Çağrı merkezimiz hafta içi ve hafta sonu 09:00-18:00 saatleri arasında hizmet vermektedir.</p>

                                    <button class="btn btn-outline-danger"> Canlı Yardım Desteği</button>




                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Bayilik İçin</h5>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">

                                <div class=" justify-content-between">
                                    <p class="card-text"> Markanızı 1n2e.com'da görmek için&nbsp;<a href="#" class="card-text"> tıklayınız</a> </p>
                                   




                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
