<div class="d-flex align-items-start  mt-5 input">
    <partial name="~/Views/Bilgilerim/BilgilerimSidebar.cshtml" />
    <div class="tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active p-4 me-5  " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="card mb-5">
                <div class="card-header">
                    <h3> KVK Başvuru Formu </h3>
                </div>
            </div>      
            <p class="card-text"> Başvuru Formu linkini görmek için:    <a href="~/dosyalar/KVKK BasvuruFormu.pdf">tıklayınız</a></p>
            <form class="row g-0 "> 
                <div class=" card col-md-12 ">
                    <div class="card-body">

                        <div class="justify-content-center">

                            <p class="card-text ">


                                <embed src="~/dosyalar/KVKK BasvuruFormu.pdf" type="application/pdf" style="width:100%; height:300px;">


                            </p>
                        </div>
                    </div>

                </div>
            </form>


        </div>
</div>
    </div>
