<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&family=Quicksand&display=swap" rel="stylesheet">
<div class="d-flex align-items-start  mt-5 input">
    <partial name="~/Views/Bilgilerim/BilgilerimSidebar.cshtml" />
    <div class="tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active p-4 me-5  " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="card mb-5">
                <div class="card-header">
                    <h3> Ödeme Bilgileri </h3>
                </div>
            </div>
            <form class="row g-0 ">
                <div class=" card col-md-12 ">
                    <div class="card-body">
                       

                            <p class="card-text">

                                Siparişinizin ödemesini kredi kartınızla, banka kartınızla siteden direkt olarak, EFT ve HAVALE şeklinde gerçekleştirebilirsiniz. Siparişinizin ödemesini kredi kartınızla, banka kartınızla siteden direkt olarak, EFT/HAVALE ya da kapıda ödeme şeklinde gerçekleştirebilirsiniz. Sitemizden Bonus, Maximum, Axess, CardFinans, Paraf ve Advantage programlarına dahil olan tüm kredi kartlarınız ile siparişlerinizi vade farksız 3 taksitle, vade farkı ile 9 taksite kadar gerçekleştirebilirsiniz. Kredi kartı kullanmayan üyelerimiz Tüm Bankaların HESAP/MAAŞ kartları ile sitemizden ödeme gerçekleştirebilirler. Ya da Aşağıdaki hesap numaralarına EFT - HAVALE gönderebilirler.
                            </p>
                          
                        </div>
                    </div>
                </form>

                </div>
        </div>
    </div>
