<partial name="~/Views/Yardim/YardimUstKisim.cshtml" />

<div class="d-flex align-items-start  mt-5 input">
    <partial name="~/Views/Yardim/YardimSidebar.cshtml" />
    <div class="tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active p-4 me-5  " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class=" mb-5">

                <h3>İade</h3>

            </div>
            <form class="row g-0 ">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Aldığım ürünleri nasıl iade edebilirim?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h6>• İade adımları:</h6>

                                <p>  1. 1n2e.com ve mobil uygulamalarda yer alan "Hesabım" bölümünden “Siparişlerim'e“ gidin.</p>

                                <p> 2. “Detaylar” butonuna basın ve siparişinizin detaylarını görüntüleyin.</p>

                                <p> 3. "Kolay İade Talebi Oluştur" butonuna basın.</p>

                                <p>4. İade edilecek ürün ve iade nedeni seçin. Aynı üründen birden fazla satın aldıysanız iade edilecek ürün adedini de seçmeniz gerekir.</p>

                                <p>5. Ekranda çıkan iade kargo kodunu not alın. İade kargo kodunuza "Siparişlerim" sayfasından ve üyelik mail adresinize gönderilen bilgilendirme mesajından da ulaşabilirsiniz.</p>

                                <p> 6. İade edilecek ürünler ile birlikte faturayı tek bir pakete koyun. (Her bir teslimat için iade kodu ayrı ayrı alınmalı ve paketler ayrı ayrı hazırlanarak kargoya verilmelidir.)</p>

                                <h6>• Faturanız yoksa aşağıdaki bilgileri boş bir kağıda yazıp iade paketinin içine koyup iadenizi yapabilirsiniz.</h6>

                                <p>  o Ad Soyad:</p>

                                <p> o Sipariş No:</p>

                                <p>  o İade Nedeni:</p>

                                <p>  7. Paketi iade kargo koduyla birlikte seçtiğiniz kargoya 7 gün içinde teslim edin. Kodu vermeniz yeterlidir, ayrıca bir İade adresi belirtmeniz gerekmez. 7 günü geçirdiğiniz durumda yeniden iade kargo kodu almalısınız.</p>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                İade politikanız nedir?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>• İade süresi ürün elinize ulaştığından itibaren 15 gündür.</p>


                                <p>• Ürünlerinizi ÜCRETSİZ iade edebilmek için iade kargo kodu almanız gerekir. İade kargo kodu almak için “Aldığım ürünleri nasıl iade edebilirim?” sorusundaki adımları takip edin.</p>


                                <p>• Ürünlerinizi iade adımında gösterilen kargo firması ile iade edebilirsiniz.</p>


                                <p>• Tek kullanımlık ürünler ile hızlı bozulan veya son kullanma tarihi geçme ihtimali olan ürünlerin iadesi kabul edilmez.</p>


                                <p>• Kozmetik ve kişisel bakım ürünleri, iç giyim ürünleri, mayo, bikini, kitap, kopyalanabilir yazılım ve programlar, DVD, CD ve kasetler ile kırtasiye sarf malzemeleri (toner, kartuş, şerit vb.),</p>

                                <p> o Ambalajı açılmamış</p>

                                <p>o Denenmemiş</p>

                                <p>o Bozulmamış</p>

                                <p> o Kullanılmamış olmaları halinde iade edilebilir.</p>


                                <p>•Ürünler kullanılmış, yıpranmış, yıkanmış bir şekilde bize ulaşırsa size geri göndermek zorunda kalabiliriz. Bu durumda ücret iadesi yapılmaz.</p>


                                <p>• Beyaz eşya (buzdolabı, bulaşık makinesi, çamaşır makinesi, fırınlar (gaz, elektrik, mikrodalga), set üstü ocaklar, aspiratörler, ütüler, vantilatör, ısıtıcılar, soğutucular), televizyon vb. kurulum gerektiren ürünler; yetkili servis bilgisi olmadan açılırsa iade kapsamı dışında kalır.</p>


                                <p>• Ürün yetkili servis çalışanları tarafından açıldıktan sonra üründe herhangi bir hasar/kusur/ayıp tespit edilmesi halinde yetkili servis çalışanlarına detaylı olarak sorunun not edildiği bir durum tespit tutanağı/servis formu/servis raporu doldurtmanız gerekir. Bu belgeyi aldıktan sonra ürünü iade etmek istemeniz halinde www.trendyol.com internet sitesi ya da mobil uygulama üzerinden iade kodu alarak ürünü kargo görevlisine teslim ederek ürünü iade edebilirsiniz.</p>


                                <p>• Finansal piyasalardaki dalgalanmalara bağlı olan ve satıcının kontrolünde olmayan, fiyatı değişiklik gösteren mal veya hizmetler için cayma hakkı kullanılamaz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                İadede kargo masraflarını ben mi ödeyeceğim?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                açıklama
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Farklı teslimatlarımı tek seferde iade edebilir miyim?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                açıklama
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                İade kargo kodumu kaybettim, ne yapabilirim?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                açıklama
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Hangi ürünleri iade edemiyorum?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                açıklama
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                İade/iptal ettiğim ürünün ücret iadesi ne zaman yapılacak?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                açıklama
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                15 günlük iade sürem doldu, ürünü iade edebilir miyim?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                açıklama
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Faturamı kaybettim, nasıl iade yapabilirim?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                açıklama
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>















